@import '../../node_modules/coriolan-ui/tools/vars.scss';
@import '../../node_modules/coriolan-ui/mixins/media';
// @import '../../node_modules/coriolan-ui/mixins/clearfix';

.homepage {
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
    background: #fff;
    border: 1px solid rgba(#000,.3);

    &__wellcome {
        width: 100%;
        padding: 0 20px 0 78px;
        box-sizing: border-box;
        margin-bottom: 30px;
        position: relative;

        @include media(S) {
            width: 50%;
        }

        &-logo {
            position: absolute;
            top: 0;
            left: 10px;
            width: 60px;
            height: auto;
        }

        &-title {
            font-size: 30px;
            // line-height: 37px;
            font-weight: 400;
            margin: 0 0 2px;
        }

        &-description {
            font-size: 16px;
            line-height: 19px;
            font-weight: 400;
            margin: 0;
            opacity: .5;
        }
    }


    &__contacts {
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
        margin-bottom: 30px;

        @include media(S) {
            width: 50%;
        }

        &-title {
            font-size: 20px;
            // line-height: 24px;
            margin-bottom: 6px;
        }

        &-description {
            // font-size: 14px;
            // line-height: 17px;
            opacity: .5;
        }
    }

    &__biography {
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
        margin-bottom: 30px;

        &-title {
            font-size: 20px;
            // line-height: 24px;
            border: 1px solid rgba(#979797,.4);
            border-width: 1px 0;
            text-transform: uppercase;
            padding: 11px 0;
            margin-bottom: 30px;
            width: 100%;
        }
    }

    &__languages {
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
        margin-bottom: 30px;

        @include media(S) {
            width: 50%;
        }

        &-title {
            font-size: 20px;
            // line-height: 24px;
            border: 1px solid rgba(#979797,.4);
            border-width: 1px 0;
            text-transform: uppercase;
            padding: 11px 0;
            margin-bottom: 30px;
            width: 100%;
        }

        &-name {
            font-size: 16px;
            margin-bottom: 4px;
        }

        &-bar {
            position: relative;
            width: 100%;
            height: 4px;
            background: #e7e7e7;
            margin-bottom: 4px;
        }

        &-progress {
            position: absolute;
            top: 0;
            left: 0;
            width: 73%;
            height: 100%;
            background: #e15c50;
        }

        &-status {
            font-size: 12px;
            opacity: .5;
            margin-bottom: 10px;
        }
    }

    &__skills {
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
        margin-bottom: 30px;

        @include media(S) {
            width: 50%;
        }

        &-title {
            font-size: 20px;
            // line-height: 24px;
            border: 1px solid rgba(#979797,.4);
            border-width: 1px 0;
            text-transform: uppercase;
            padding: 11px 0;
            margin-bottom: 30px;
            width: 100%;
        }

        &-name {
            opacity: .5;
        }
    }

    &__projects {
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
        margin-bottom: 30px;
        display: flex;
        flex-wrap: wrap;

        &-title {
            font-size: 20px;
            // line-height: 24px;
            border: 1px solid rgba(#979797,.4);
            border-width: 1px 0;
            text-transform: uppercase;
            padding: 11px 0;
            margin-bottom: 30px;
            width: 100%;
        }

        &-item {
            width: 100%;
            padding: 0 20px;
            box-sizing: border-box;
            margin: 20px 0;
            display: flex;
            align-items: flex-start;

            @include media(S) {
                width: 50%;
            }
        }

        &-logo {
            width: 100%;
            max-width: 60px;
            height: auto;
            display: block;
            margin-right: 30px;
        }

        &-content {
        }

        &-name {
            font-size: 18px;
            margin-bottom: 4px;
        }

        &-position {
            opacity: .5;
            margin-bottom: 4px;
        }

        &-status {
            opacity: .5;
            margin-bottom: 4px;
        }

        &-description {
        }
    }
}
