@import '../../node_modules/coriolan-ui/tools/vars.scss';
@import '../../node_modules/coriolan-ui/mixins/media';
@import '../../node_modules/coriolan-ui/mixins/clearfix';

.mainmenu {
    @include clearfix;

    &__container {
        max-width: 1000px;
        margin: 0 auto;
        float: right;
    }

    &__link {
        padding: 10px 16px;
        line-height: 30px;
        text-decoration: none;
        color: #d43324;
        transition: opacity .25s ease;
        position: relative;
        float: left;
        opacity: .6;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            width: 0;
            height: 0;
            transition: width .25s ease .15s, left .25s ease .15s, height .25s ease;
            background: #d43324;
        }

        // @include media(M) {
        //     padding: 16px 10px;
        // }

        &:hover {
            opacity: 1;
        }

        &.is-selected {
            opacity: 1;

            &:after {
                height: 4px;
                left: 0;
                width: 100%;
            }
        }
    }

    &__link-name {
        line-height: 30px;
        vertical-align: middle;
        float: left;
        font-size: 14px;
    }
}
